<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ویرایش پروفایل</title>
</head>
<body>
    <nav id="id_navbar">
        <a href="/" id=id_navbar_home>صفحه اصلی</a> |
        <a href="/signup" id=id_navbar_signup>ثبت نام</a> |
        <a href="/contact" id=id_navbar_contact_us>تماس با ما</a> |
        {% if not user.is_authenticated %}
        <a href="/login" id=id_navbar_login>ورود</a>
        {% else %}
        <a href="/logout" id=id_navbar_logout>خروج</a> |
        <a href="/profile" id=id_navbar_profile>پروفایل</a>
        {% endif %}
    </nav>

    <form method="post" action="." enctype="multipart/form-data; boundary=BoUnDaRyStRiNg">
        {% csrf_token %}
        <input type="text" placeholder="نام" value="{{ user.first_name }}" name="first_name" id="id_first_name"/><br/>
        <input type="text" placeholder="نام خانوادگی" value="{{ user.last_name }}" name="last_name" id="id_last_name"/><br/>
        <textarea name="bio" placeholder="زندگی نامه" id="id_bio">{{ person.bio }}</textarea><br/>
        <select name="gender" id="id_gender">
            <option value="M" {% if person.gender == 'M' %} selected {% endif %}>مرد</option>
            <option value="F" {% if person.gender == 'F' %} selected {% endif %}>زن</option>
        </select><br/>
        <img id="id_picture" src="/{{ person.picture }}"/><br/>
        <input type="file" id="id_picture" name="picture"/>
        <input type="submit" value="ویرایش" name="submit" id="id_submit"/>
    </form>


</body>
</html>