{% extends 'base_html.html' %}
{% block content %}
{% if pass_rematch or email_exists or user_exists %}
<div class="ui negative message">
        <div class="header">
            خطا
        </div>
    <p>
        {% if email_exists %}کاربری با ایمیل وارد شده وجود دارد<br/>{% endif %}
        {% if user_exists %}کاربری با نام کاربری وارد شده وجود دارد<br/>{% endif %}
        {% if pass_rematch %}گذرواژه و تکرار گذرواژه یکسان نیستند{% endif %}
    </p>
</div>
{% endif %}
<div class="ui form">
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
            <input type="text" placeholder="نام" value="{{ user.first_name }}" name="first_name" id="id_first_name"/>
        </div>
        <div class="field">
            <input type="text" placeholder="نام خانوادگی" value="{{ user.last_name }}" name="last_name" id="id_last_name"/>
        </div>
        <div class="field">
            <textarea name="bio" placeholder="زندگی نامه" id="id_bio">{{ person.bio }}</textarea><br/>
        </div>
        <div class="field">
            <select name="gender" id="id_gender">
                <option value="M" {% if person.gender == 'M' %} selected {% endif %}>مرد</option>
                <option value="F" {% if person.gender == 'F' %} selected {% endif %}>زن</option>
            </select>
        </div>
        <div class="field">
            <input type="file" id="id_picture" name="picture"/>
        </div>
        <input class="ui submit button" type="submit" value="ویرایش" name="submit" id="id_submit"/>
    </form>
</div>
{% endblock %}