<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <nav id="id_navbar">
        <a href="/" id=id_navbar_home>صفحه اصلی</a> |
        <a href="/signup" id=id_navbar_signup>ثبت نام</a> |
        <a href="/contact" id=id_navbar_contact_us>تماس با ما</a> |
        {% if not user.is_authenticated %}
        <a href="/login" id=id_navbar_login>ورود</a>
        {% else %}
        <a href="/logout" id=id_navbar_logout>خروج</a>
        {% endif %}
    </nav>
    سلام. به سامانه استادجو خوش آمدید.
</body>
</html>