<!DOCTYPE html>
<html lang="fa">
    <head>
        <meta charset="UTF-8">
        <title>صفحه اصلی</title>
        <link rel="stylesheet" href="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.rtl.css" integrity="sha384-h/tGiTStmgbDQyTAdp2s5BfyXn7wmnFsn3vDaCPYck9YKkOuLAdjHi6y154TBVJ4" crossorigin="anonymous">
        <script src="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.min.js" integrity="sha384-kZT+CItOKWHYL+Rz37W2NEz60Pu2JJJ8wgzq+82VWsi3QM53eNFzQJZqzhPuyo63" crossorigin="anonymous"></script>
    </head>
    <body dir="rtl">
        <nav class="ui pointing menu rtl" id="id_navbar">
            <a class="active item" href="/" id=id_navbar_home>صفحه اصلی</a>

                <a class="item" href="/signup" id=id_navbar_signup>ثبت نام</a>
                <a class="item" href="/login" id=id_navbar_login>ورود</a>

                <a class="item" href="/logout" id=id_navbar_logout>خروج</a>
                <a class="item" href="/profile" id=id_navbar_profile>پروفایل</a>
                <a class="item" href="/editprofile" id=id_edit_profile>ویرایش پروفایل</a>


            <a class="item" href="/contact" id=id_navbar_contact_us>تماس  با ما</a>
            <div class="right menu">
                <div class="item">
                    <div class="ui transparent icon input">
                        <form action="." method="get">
                            {% csrf_token %}
                            <input type="text" name="search" id="id_search_profiles_input" placeholder="جستجو..."/>
                            <input type="submit" id="id_search_profiles_button" value="جستجو"/>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <div class="ui segment">
            <p>سلام. به سامانه استادجو خوش آمدید.</p>
            {% if usersSearched %}
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>نام کاربری</th>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for record in usersSearched %}


                        <tr id="id_teacher_{{ forloop.counter0 }}">
                            <td data-label="نام کاربری"><a id="id_username" href="/profile/{{ record.username }}">{{ record.username }}</a></td>
                            <td data-label="نام" id="id_first_name">{{ record.first_name }}</td>
                            <td data-label="نام خانوادگی" id="id_last_name">{{ record.last_name }}</td>
                        </tr>


                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>


    </body>
</html>