{% extends 'base_html.html' %}
{% block content %}
<p>سلام. به سامانه استادجو خوش آمدید.</p>
{% if usersSearched %}
    <table class="ui celled table">
        <thead>
            <tr>
                <th>نام کاربری</th>
                <th>نام</th>
                <th>نام خانوادگی</th>
            </tr>
        </thead>
        <tbody>
        <ul>
        {% for record in usersSearched %}
            <div id="id_teacher_{{ forloop.counter0 }}">
                <li data-label="نام کاربری"><a id="id_username" href="/profile/{{ record.username }}">{{ record.username }}</a></li>
                <li data-label="نام" id="id_first_name">{{ record.first_name }}</li>
                <li data-label="نام خانوادگی" id="id_last_name">{{ record.last_name }}</li>
            </div>
{#                        <tr id="id_teacher_{{ forloop.counter0 }}">#}
{#                            <td data-label="نام کاربری"><a id="id_username" href="/profile/{{ record.username }}">{{ record.username }}</a></td>#}
{#                            <td data-label="نام" id="id_first_name">{{ record.first_name }}</td>#}
{#                            <td data-label="نام خانوادگی" id="id_last_name">{{ record.last_name }}</td>#}
{#                        </tr>#}


        {% endfor %}
        </ul>
        </tbody>
    </table>
{% endif %}
{% endblock %}