<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ثبت نام</title>
</head>
<body>

    <nav id="id_navbar">
        <a href="/" id=id_navbar_home>صفحه اصلی</a> |
        <a href="/signup" id=id_navbar_signup>ثبت نام</a> |
        <a href="/login" id=id_navbar_login>ورود</a>
    </nav>


        {% if error %}
            <div>نام کاربری یا گذرواژه غلط است</div>
        {% endif %}

    <form method="post" action=".">
        {% csrf_token %}
        <input type="text" placeholder="نام کاربری" name="username" id="id_username"/><br/>
        <input type="password" placeholder="رمز عبور" name="password" id="id_password"/><br/>
        <input type="submit" value="ورود" name="submit" id="id_submit"/>
    </form>
</body>
</html>