{% extends 'base_html.html' %}
{% block content %}
{% if error %}
<div class="ui negative message">
        <div class="header">
            خطا
        </div>
    <p>نام کاربری یا گذرواژه غلط است</p>
</div>
{% endif %}
<div class="ui form">
    <form method="post", action=".">
        {% csrf_token %}
        <div class="two fields">
            <div class="field">
                <label>نام کاربری</label>
                <input type="text" name="username" id="id_username"/>
            </div>
            <div class="field">
                <label>رمز عبور</label>
                <input type="password" name="password" id="id_password"/>
            </div>
        </div>
        <input class="ui submit button" type="submit" value="ورود" name="submit" id="id_submit"/>
    </form>
</div>
{% endblock %}