{% extends 'base_html.html' %}
{% block content %}
{% if eerror or serror or derror or ebs or tdk%}
<div class="ui negative message">
        <div class="header">
            خطا
        </div>
    <p>
        {% if eerror %}زمان پایان وارد شده معتبر نمی باشد<br/>{% endif %}
        {% if serror %}زمان شروع وارد شده معتبر نمی باشد<br/>{% endif %}
        {% if derror %}تاریخ وارد شده معتبر نمی باشد<br/>{% endif %}
        {% if ebs %}زمان شروع باید قبل از زمان پایان فرصت باشد<br/>{% endif %}
        {% if tdk %}بازه زمانی انتخاب شده با فرصت های قبلی شما اشتراک دارد{% endif %}
    </p>
</div>
{% endif %}
<div class="ui form">
    <form method="post" action=".">
        {% csrf_token %}
        <div class="field">
            <input type="text" placeholder="ظرفیت" name="capacity" id="id_student_capacity"/>
        </div>
        <div class="field">
            <input type="text" placeholder="شروع" name="start" id="id_start"/>
        </div>
        <div class="field">
            <input type="text" name="end" id="id_end" placeholder="پایان"/>
        </div>
        <div class="field">
            <input type="text" name="date" id="id_date" placeholder="تاریخ"/>
        </div>
        <input class="ui submit button" type="submit" value="ایجاد" name="submit" id="id_submit"/>
    </form>
</div>
{% endblock %}