{% extends 'base_html.html' %}
{% block content %}
<div class="ui items">
    <div class="item">
        <div class="ui image circular medium">
            <img id="id_picture" src="/{{ person.picture }}">
        </div>
        <div class="content">
            <a class="header">{{ user.first_name }} {{ user.last_name }}</a>
            <div class="meta">
                <span>{{ user.username }} / {% if person.gender == 'M' %}مرد{% else %}زن{% endif %}</span>
            </div>
            <div class="description">
                <p>
                    {% if user.is_authenticated %}شما به عنوان {{ group }} وارد شده اید{% endif %}
                </p>
                <a id="id_remove_user" href="/removeuser">حذف حساب کاربری</a>
            </div>
            <div class="extra">
                {{ person.bio }}
            </div>
        </div>
    </div>
</div>
{% endblock %}