{% extends 'base_html.html' %}
{% block content %}
<div class="ui items">
    <div class="item">
        <div class="ui image circular medium">
            <img id="id_picture" src="/{{ person.picture }}">
        </div>
        <div class="content">
            <a class="header"><b id="id_first_name">{{ user.first_name }}</b><b id="id_last_name">{{ user.last_name }}</b></a>
            <div class="meta">
                <span><b id="id_username">{{ user.username }}</b> / {% if person.gender == 'M' %}مرد{% else %}زن{% endif %}</span>
            </div>
            <div class="description">
                <p>
                    {% if user.is_authenticated %}شما به عنوان {{ group }} وارد شده اید{% endif %}
                </p>
                <a id="id_remove_user" href="/removeuser">حذف حساب کاربری</a>
            </div>
            <div class="extra">
                {% load markup_tags %}
                {{ entry.content|apply_markup:"markdown" }}
                {{ person.bio|apply_markup:"markdown" }}
            </div>
        </div>
    </div>
</div>
{% endblock %}