{% extends 'base_html.html' %}
{% block content %}
{% if pass_rematch or email_exists or user_exists %}
<div class="ui negative message">
        <div class="header">
            خطا
        </div>
    <p>
        {% if email_exists %}کاربری با ایمیل وارد شده وجود دارد<br/>{% endif %}
        {% if user_exists %}کاربری با نام کاربری وارد شده وجود دارد<br/>{% endif %}
        {% if pass_rematch %}گذرواژه و تکرار گذرواژه یکسان نیستند{% endif %}
    </p>
</div>
{% endif %}
<div class="ui form">
    <form method="post", action=".">
        {% csrf_token %}
        <div class="field">
            <input type="text" placeholder="نام" name="first_name" id="id_first_name"/>
        </div>
        <div class="field">
            <input type="text" placeholder="نام خانوادگی" name="last_name" id="id_last_name"/>
        </div>
        <div class="field{% if email_exists %} error{% endif %}">
            <input type="email" placeholder="ایمیل" name="email" id="id_email"/>
        </div>
        <div class="field{% if user_exists %} error{% endif %}">
            <input type="text" placeholder="نام کاربری" name="username" id="id_username"/>
        </div>
        <div class="field">
            <input type="password" placeholder="رمز عبور" name="password1" id="id_password1"/>
        </div>
        <div class="field{% if pass_rematch %} error{% endif %}">
            <input type="password" placeholder="تکرار رمز عبور" name="password2" id="id_password2"/>
        </div>
        <div class="grouped fields">
            <label>ثبت نام به عنوان</label>
            <div class="field">
                <div class="ui slider checkbox">
                    <input type="radio" name="group" id="id_type_1" value="استاد" checked="checked"/>
                    <label>استاد</label>
                </div>
            </div>
            <div class="field">
                <div class="ui slider checkbox">
                    <input type="radio" name="group" id="id_type_0" value="دانشجو"/>
                    <label>دانشجو</label>
                </div>
            </div>
        </div>
        <input class="ui submit button" type="submit" value="ثبت نام" name="submit" id="id_submit"/>
    </form>
</div>
{% endblock %}